body {
  background-color: rgb(23, 4, 41);
  color: white;
}

.wrapper,
html,
body,
#root {
  display: flex;
  height: 100%;
  width: 100%;
}

.left {
  flex-grow: 1;
  height: 100%;
}

.right {
  background-color: rgb(10, 10, 86);
  width: 20rem;
  height: 100%;
}

.storesContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem;
  gap: 0.5rem;
}

.store,
.remaining {
  height: 1.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.store {
  background-color: rgb(102, 118, 112);
}

.remaining {
  background-color: rgb(4, 52, 14);
}
